@model Ms_App_Crm.Models.ProductModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Product Management</h1>
<hr />
To add a new product press <a href="~/home/addproduct">here</a>
<hr />

 



<table id="productTable" border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th> Code</th>
        <th> Name</th>
        <th>Description</th>
        <th> Price</th>
        <th>Quantity</th>

        <th>Update</th>
        <th>Delete</th>
    </tr>

    @{
        foreach (var product in Model.products)
        {
        <tr>
            <td> @product.Id</td>
            <td> @product.Name</td>
            <td> @product.Description </td>
            <td> @product.Price   </td>
            <td> @product.Quantity   </td>
            <td> <a href="~/home/updateProductwithdetails/@product.Id"><img src="~/images/update.png" width="25" /></a></td>
            <td> <a href="~/home/DeleteProductFromView/@product.Id"><img src="~/images/delete.png" width="25" /></a></td>
        </tr>

        }
    }


</table>