@model Microsoft_Azure_Academy.Models.CustomerOptionModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1> Update Customer code = @Model.customer.Id </h1>

<form>
    <table align="center">
        <tr align="center">
            <td>
                Id
            </td>
            <td> <input type="text" id="Id" value="@Model.customer.Id" readonly/></td>
        </tr>


        <tr align="center">
            <td>
                FirstName
            </td>
            <td> <input type="text" id="FirstName" value="@Model.customer.FirstName" /></td>
        </tr>

        <tr align="center">
            <td>
                LastName
            </td>
            <td>
                <input type="text" id="LastName" value="@Model.customer.LastName" />
            </td>
        </tr>

        <tr align="center">
            <td>
                Address
            </td>
            <td>
                <input type="text" id="Address" value="@Model.customer.Address" />
            </td>
        </tr>
        <tr align="center">
            <td>
                Email
            </td>
            <td>
                <input type="text" id="Email" value="@Model.customer.Email" />

            </td>
        </tr>
        <tr align="center">
            <td>

                VatNumber
            </td>
            <td>
                <input type="text" id="VatNumber" value="@Model.customer.VatNumber" />
            </td>
        </tr>
        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="updateCustomer()" />
            </td>
        </tr>

    </table>
</form>
